.bg-nv{
  font-size: 30px;
  background: rgb(0,232,255);
  background: linear-gradient(0deg, rgba(0,232,255,1) 0%, rgba(15,186,251,1) 87%);
}
.color{
  /* color: rgb(26, 22, 247); */
  color: black;
}
.frame-nv{
  max-height: 250px;
  overflow-y: auto;
  font-size: 16px;
}
